* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.center2 {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-content: center;
    background-color: #222;
    height: 75px;
}

.logo {
    text-align: left;
}

.nav {
    text-align: right;
}

.content__1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    height: 764px;
    background-color: #F1E4E6;
    align-items: center;
}

.content__2 {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    justify-content: center;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 260px 180px;
    gap: 30px;
}

.content2__item__4 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.content__3 {
    padding-bottom: 60px;
    justify-content: center;
}

.content3__text {
    padding-bottom: 48px;
    text-align: center;
}

.content3__top {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: repeat(3*580px);
    gap: 30px;
}



.text_1 {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
}

.text_2 {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text_3 {
    width: 148.114px;
    padding-top: 24px;
    padding-bottom: 13px;
    padding-left: 18px;
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text_4 {
    width: 314.743px;
    padding-bottom: 18px;
    padding-left: 18px;
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.text_5 {
    width: 52.457px;
    padding-bottom: 20px;
    padding-left: 18px;
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cont_3 {
    background-color: #F8F8F8;

}

.futter {
    padding-bottom: 60px;
    text-align: center;
}

.button {
    width: 212px;
    height: 48px;
    border: 1px solid #FF6A6A;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;

}